<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Email Confirmation Message</title>
</head>
<body>
<h1>Resetting password</h1>
<h2>Hello {{firstName}}</h2>
<p>To complete the password reset process, visit the following link: </p>
<a href="https://localhost:3000/api/auth/reset-password/confirm?token={{token}}"> Confirm reset password by clicking
this link</a>
</body>
</html>
